@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	overflow: hidden;
	letter-spacing: 2px;
}

canvas {
	width: 100%;
	height: 100%
}

#header {
	position: absolute;
	color: white;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	letter-spacing: 3px;
}

#header > input {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

#footer {
	position: absolute;
	bottom: 5px;
	width: calc(100% - 60px);
	margin: 30px;
}

#time {
	background-color: #333333;
	z-index: 100;
	height: 8px;
	width: 100%;
}

#inner-time {
	background-color: lightgrey;
	height: 100%;
	width: 0%;
}

#playback-container {
	width: 100%;
	margin: 20px 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

#file_name {
	width: 100%;
	text-align: center;
	transition: 0.3s;
	line-height: 2em;
}

.playback-btn {
	background-color: transparent;
	color: white;
	font-size: 1em;
	font-family: 'Lato';
	letter-spacing: 2px;
	font-weight: 300;
	border: none;
	margin: 0 20px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-img {
	max-height: 30px;
}

#loading_screen {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 100;
	color: white;
	letter-spacing: 5px;
	font-size: 0.8em;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#loading_screen > img {
	max-height: 15%;
}